@font-face {
    font-family: 'DM Serif Display';
    src: url('DMSerifDisplay-Regular.woff2') format('woff2'),
        url('DMSerifDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

